<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a routerLink="/home">
          <img src="assets/foldal.jpg" class="d-block w-100" alt="Kezdőlap">
        </a>
      </div>
      <div class="carousel-item">
        <a routerLink="/about">
          <img src="assets/about.jpg" class="d-block w-100" alt="Rólunk">
        </a>
      </div>
      <div class="carousel-item">
        <a routerLink="/products">
          <img src="assets/termékek.jpg" class="d-block w-100" alt="Termékek">
        </a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Előző</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Következő</span>
    </button>
  </div>
  <main class="flex-shrink-0">
    <header class="py-5">
      <div class="container px-5">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-xxl-6">
            <div class="text-center my-5">
              <h1 class="fw-bolder mb-3">
                Küldetésünk: Segítség a dohányzóknak és leszokóknak egyaránt
              </h1>
              <p class="lead fw-normal text-muted mb-4">
                A Start Bootstrap minőségi, nyílt forráskódú webhelysablonokat kínál, amelyek mindenki számára elérhetők. Próbáld ki ingyenes vagy prémium termékeinket!
              </p>
              <a class="btn btn-primary btn-lg" href="#scroll-target">Olvassa el történetünket</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="py-5 bg-light">
      <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6">
            <img class="img-fluid rounded mb-5 mb-lg-0" src="assets/OIG3.jpg" alt="Az alapításunk">
          </div>
          <div class="col-lg-6">
            <h2 class="fw-bolder">Az alapításunk</h2>
            <p class="lead fw-normal text-muted">
              A dohányzásról való leszokás pozitív hatásai már percek után érezhetők. Támogatjuk Önt ebben az úton!
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5">
      <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6 order-first order-lg-last">
            <img class="img-fluid rounded mb-5 mb-lg-0" src="assets/cora.jpg" alt="Növekedés">
          </div>
          <div class="col-lg-6">
            <h2 class="fw-bolder">Növekedés azon túl</h2>
            <table class="lead fw-normal text-muted mb-0">
              <tr>
                <td>20 perc:</td>
                <td>Javul a vérkeringés, normalizálódik a pulzus és a vérnyomás.</td>
              </tr>
              <tr>
                <td>8-12 óra:</td>
                <td>Normalizálódik az oxigén- és szén-monoxid szint.</td>
              </tr>
              <tr>
                <td>24 óra:</td>
                <td>Elindul a tüdő tisztulási folyamata, javul az ízlelés és a szaglás.</td>
              </tr>
              <tr>
                <td>72 óra:</td>
                <td>Könnyebbé válik a légzés.</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5 bg-light">
      <div class="container px-5 my-5">
        <div class="text-center">
          <h2 class="fw-bolder">A mi csapatunk</h2>
          <p class="lead fw-normal text-muted mb-5">Elkötelezett a minőség és az Ön sikere</p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
          <div class="col mb-5">
            <div class="text-center">
              <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="Ibbie Eckart">
              <h5 class="fw-bolder">Ibbie Eckart</h5>
              <div class="fst-italic text-muted">Founder CEO</div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="text-center">
              <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="Arden Vasek">
              <h5 class="fw-bolder">Arden Vasek</h5>
              <div class="fst-italic text-muted">CFO</div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="text-center">
              <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="Toribio Nerthus">
              <h5 class="fw-bolder">Toribio Nerthus</h5>
              <div class="fst-italic text-muted">Operations Manager</div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="text-center">
              <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="Malvina Cilla">
              <h5 class="fw-bolder">Malvina Cilla</h5>
              <div class="fst-italic text-muted">CTO</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  